@model Wedding
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="nav navbar-nav navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<h1>@Model.WedderOne & @Model.WedderTwo's Wedding</h1>
<label>Address: @Model.Address</label>
<h3>Date: @Model.Date.ToString("D")</h3>
<h3>Guests</h3>
    @if(Model.Guests.Count > 0){
        foreach(var guest in @Model.Guests){
            <p>@guest.User.FirstName</p>
        }
    }
